// Colors
$color-details: #66b38f;
$color-header: #2D3330;
$color-menu: #D8D8D8;
$color-subtle: #F4F4F4;

// Font
$font: 'Nunito', sans-serif;

//borders
$border-divide: solid $color-details;